/* @import url(../bootstrap/css/bootstrap.min.css); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container {
      
} */

.number-input {
    display: inline-flex;
    align-items: center;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: .5rem;
    height: 1px;
    background-color: #212121;
    transform: translate(-50%, -50%);
    
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid #ddd!important;
    border-radius: 10px;
    font-family: sans-serif;
    max-width: 2rem;
    font-size: 1rem;
    height: 2rem;
    text-align: center;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


.container .info-cart {
    margin: 20px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container .info-cart .info {
    width: 50%;
}

.container .info-cart .info .choose {
    border: 1px solid rgb(225, 225, 225);
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.container .info-cart .info .choose button {
    background: none;
    max-width: 25%;
    width: 100%;
    padding: 20px 0;
    border: none;
    color: gray;
    border-bottom: 1px solid rgb(225, 225, 225);
    white-space: nowrap;
    font-size: 14px;
}

.container .info-cart .info .choose .active {
    font-weight: 500 !important;
    color: black !important;
    border-bottom: 1px solid green !important;
}

.container .info-cart .info .cart  {
    border: 1px solid rgb(225, 225, 225);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
}

.container .info-cart .info .cart .list-product .product {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .info-cart .info .cart .list-product .product .image-name {
    position: relative;
    display: flex;
    gap: 20px;
}

.container .info-cart .info .cart .list-product .product .image-name .image img {
    width: 80px;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.container .info-cart .info .cart .list-product .product .name {
    position: relative;
    display: grid;
}

.container .info-cart .info .cart .list-product .product .name h5 {
    margin: 0 0 -5px;
}

.container .info-cart .info .cart .list-product .product p {
    margin: 0 0 -3px;
    font-size: 14px;
}

.container .info-cart .info .cart .list-product .product .price >  *{        
    text-align: right;
}

.container .info-cart .info .cart .list-product .product .price h6 {
    margin:  25px 0;
}

.container .info-cart .info .cart .list-product .product .price p {
    margin-bottom: 10px;
}

.container .info-cart .total {
    width: 30%;
    height: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.container .info-cart .total h5 {
    margin-bottom: 25px;
}

.container .info-cart .total .d-flex {
    justify-content: space-between;
}

.container .info-cart .total .delivery p i {
    color: rgb(69, 144, 69)!important;
}

.container .info-cart .total button {
    max-width: 100%;
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: rgb(69, 144, 69);
    color: white;
    font-size: 15px;
    margin: 20px 0;
}

.container .info-cart .total span {
    font-weight: 450;
}

/********************************************************************/
.container .info-cart .info .cart .summary .list-pro {
    display: grid;
    gap: 10px;
}
.container .info-cart .info .cart .summary .list-pro .product1 {
    position: relative;
    display: flex;
    gap: 15px;
    width: 100%;
}

.container .info-cart .info .cart .summary .list-pro .product1 .price-amount {
    text-align: right;
}

.container .info-cart .info .cart .summary .list-pro .product1 img{
    width: 50px;height: 50px;object-fit: cover;
}

.container .info-cart .info .cart .summary .list-pro .product1 .info-pro {
    display: flex;
    /* justify-content: space-between; */
}

.container .info-cart .info .cart .summary .list-pro .product1 .info-pro .price-amount {
    position: absolute;
    right: 0;
}

.container .info-cart .info .cart .summary .buy {
    border: none;
    text-align: center;
    margin: auto;
}
.container .info-cart .info .cart .summary .buy button{
    background-color: green;
    border-radius: 10px;
    width: 100%;
    padding: 5px 0;
    border: none;
    cursor: pointer;
}

.notification {
    display: none;
    position: fixed;
    top: 45%;
    left: 45%;
    background-color: rgb(0,0,0,0.5);
    max-width: 200px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}



table {
    max-width: 80%;
    width: 100%;
}

table tr {
    padding: 10px;
    /* border: 1px solid black; */
}

table tr td {
    padding: 7px 15px 7px 0;  
}

table tr td:first-child {
    max-width: 30%;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    /* border: 1px solid black; */
}
table tr td:last-child {
    /* padding-top: 24px; */
}

table tr td input[type=text], table tr td input[type=number] {
    max-width: 100%;
    width: 100%;
    padding-left: 5px;
} 

table tr td select {
    max-width: 50%;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .container .info-cart .info .choose button {
        font-size: 12px;
    }

}

@media screen and (max-width: 992px) {
    .container .info-cart .info .choose  {
        flex-direction: column;
    }
    .container .info-cart .info .choose button {
        max-width: 100%;
        padding: 5px;
    }
    .container .info-cart .total span {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .container .info-cart {
        gap: 10px;
    }
    .container .info-cart .info {
        width: 65%;
    }
    .container .info-cart .total {
        width: 35%;
        padding: 15px;
    }
    
    .container .info-cart .total h5 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .container .info-cart .total .d-flex {
        justify-content: space-between;
    }
    .container .info-cart .total .d-flex p{
        font-size: 12px;
    }
    .container .info-cart .total .delivery p i {
        color: rgb(69, 144, 69)!important;
    }
    .container .info-cart .total button {
        padding: 10px 0;
        font-size: 12px;
        margin: 15px 0;
    }
    .container .info-cart .total span {
        font-weight: 450;
    }
}

@media screen and (max-width: 500px) {
    
    .container .info-cart .info .cart .list-product .product .image-name {
        gap: 10px;
    }
    .container .info-cart .info .cart .list-product .product .name {
        position: relative;
        display: grid;
    }
    
    .container .info-cart .info .cart .list-product .product .name h5 {
        font-size: 15px;
    }
    .container .info-cart .info .cart .list-product .product .name {
        /* display: block; */
    }
    .number-input button {
        width: 1rem;
    }
    .number-input input[type=number] {
        max-width: 1.5rem;
        font-size: .7rem;
        height: 1.5rem;
    }
    .container .info-cart .info .cart .list-product .product p {
        margin: 0 0 -3px;
        font-size: 10px;
    }
    
    .container .info-cart .info .cart .list-product .product .price h6 {
        font-size: 13px;
        margin:  10px 0;
    }
    .container .info-cart .info .cart .list-product .product .price p {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 450px) {

    hr {
        margin: 10px 0;
    }
    .container .info-cart .info .cart .list-product {
        padding: 10px;
    }
    .container .info-cart .info .cart .list-product .product .image-name {
        gap: 5px;
    }
    .container .info-cart .info .cart .list-product .product .image-name .image img {
        width: 40px;
    }
    .container .info-cart .info .cart .list-product .product .price p span {
        display: none;
    }
    .container .info-cart .info {
        width: 65%;
    }
    .container .info-cart .total {
        width: 35%;
        padding: 10px;
    }
    
    .container .info-cart .total h5 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .container .info-cart .total .d-flex p{
        font-size: 8px;
        margin-bottom: 5px;
    }
    .container .info-cart .total h6 {
        font-size: 12px;
    }
    .container .info-cart .total button {
        padding: 5px 0;
        font-size: 9px;
        margin: 10px 0;
    }
    .container .info-cart .total span {
        font-weight: 450;
        font-size: 9px;
    }
}

.no {
    display: none;
  }