body {
    background-color: #f3f3f3;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.container {
    margin: 20px auto;
}
.button {
    width: 100%;
    display: flex;
    background-color: white;
}
.button button {
    width: 17%;
    padding: 20px;
    border: none;
    background: white;
    color: black;
    border-bottom: 2px solid rgb(218, 218, 218);
}
.button button:hover {
    color: #ee4d2d;
}
.active {
    color: #ee4d2d !important;
    border-bottom: 2px solid #ee4d2d !important;
}
.list-purchase {
    margin: 10px 0;
    display: grid;
    gap: 10px;
}
.list-purchase .purchase {
    position: relative;
    background-color: white;
    padding: 20px;
}

.list-purchase .purchase .store-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-purchase .purchase .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-purchase .purchase .product .price {
    font-size: 20px;
}
.list-purchase .purchase .product .info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.list-purchase .purchase .product .img img {
    width: 100px;
}
.list-purchase .purchase .product .n-k-q .name {
    font-size: 20px;
}

.list-purchase .purchase .product .n-k-q .kind {
    font-size: 18px;
    color: rgb(177, 177, 177);
}
.list-purchase .purchase .total {
    text-align: right;
    padding: 10px;
    font-size: 20px;
}
.list-purchase .purchase .choose {
    text-align: right;
}
.list-purchase .purchase .choose button {
    border: none;
    padding: 10px 40px;
}
.list-purchase .purchase .choose .again {
    background-color: #ee4d2d;
}

/***MyInfoBeta***************************************************************************/
.info {
    width: 60%;
}
.info label {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.info label input[type=text], input[type=number], input[type=email]{
    width: 50%;
}

.info label span {
    width: 40%;
    text-align: right;
}

.info button {
    margin: 0 40%;
    background-color: #ee4d2d;
    color: white;
    border: none;
    padding: 5px 10px;
}
.avatar {
    width: 30%;
    text-align: center;
}

.avatar img {
    max-width: 100px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    border-radius: 50%;
   margin: 20px 0;
}

form {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

/***SearchBeta************************************************************************/

.search-k  {
    background-color: white;
    padding: 10px 20px;
}

.search-k button {
    border: none;
    padding: 10px 20px;
}

.search-k button:hover {
    color: #ee4d2d;
}

.search-k .active {
    color: white !important;
    background-color: #ee4d2d;
}

.search-k select {
    padding: 10px 20px;
}

.list-product {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

.list-product .product {
    width: 100%;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.list-product .product .img img {
    width: 100%;
    height: 200px;
}


.list-product .product .name {
    margin: 10px auto;
}

.list-product .product .priceP {
    display: inline-flex;
    gap: 10px;
    font-weight: 500;
}

.list-product .product .priceP .priceOld {
    text-decoration: line-through;
    color: #b7b7b7;
}

.c-l {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.check {
    padding: 5px 10px;
    display: block;
    overflow: auto;
    width: 15%;
    background-color: white;
}

.check .checkStar button {
    border: none;
    background:none;
}

.check .checkPrice {
    text-align: center;
}
.check .checkPrice button  {
    width: 80%;
    margin: 10px auto;
    border: none;
    color: white;
    background-color: #ee4d2d;
}
.check .dele {
    text-align: center;
}
.check .dele button  {
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    border: none;
    color: white;
    background-color: #ee4d2d;
}

/**myOrderBeta*****************************************************************************************************/
.title {
    display: flex;
    gap: 5%;
}
.title .ad {
    width: 30%;
}
.info-order {
    display: flex;
    gap: 5%;
}
.info-order .ad1 {
    width: 30%;
    background-color: white;
    margin: 5px auto;
    padding: 5px 10px;
    overflow: auto;
}
.info-order .ad1 span {
    color: #a6a6a6;
    font-size: 14px;
}
.list-product-d {
    margin: 5px 0;
    background-color: white;
    padding: 10px;
}
.list-product-d .title-d {
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    text-align: center;
}
.list-product-d .product-d {
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
}
.list-product-d .product-d .a-d {
    text-align: center;
}
.list-product-d .product-d .p {
    display: flex;
    gap: 10px;
}
.list-product-d .product-d .p .img img {
    width: 100px;
}
.st-so {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.st-so .so .all-price span {
    font-size: 20px;
    color: #ee4d2d;
}
.st-so .so .all-price button {
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: #ee4d2d;
    margin-right: 50px;
}
.none {
    display: none;
}

.notification {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ee4d2d;
    padding: 15px 30px;
    background-color: rgb(0,0,0,0.5);
    font-size: 18px;
}

.no {
    display: none;
  }