
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../static/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="../static/css/style_cart.css" />
    <link rel="stylesheet" href="../static/css/style_h_f.css">
</head>
<body>
    {{template "Header".}}
        <h3 style="font-size: 30px;">{{.}}</h3>
    {{template "Footer".}}
</body>
</html>