<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style_admin.css" />
  </head>
  <body>
    <div class="container-admin">
      <div class="home">
        <a href="/home">Home</a>
      </div>
      <div class="categories">
        <a href="/cate">Categories</a>
      </div>
      <div class="banner">
        <a href="/banner">Banner</a>
      </div>
      <div class="footerBanner">
        <a href="/footerBanner">Footer Banner</a>
      </div>
    </div>

    
  </body>
</html>
