<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style_h_f.css">
    <style>
        .container {
            margin: 20px 0;
        }
        label {
            margin: 5px 0;
        }
        input[type="text"],input[type="number"],input[type="email"] {
            width: 250px;
        }
        .change {
            position: relative;
            top: 20px;
            color: green;
        }
    </style>
</head>
<body>
    <div class="container1">
        {{template "Header".}}
    </div>
    <div class="container">
        <form action="/change-password" method="post">
            <label for="old-pass">
                <span>Old Password:<i class="fa-solid fa-sparkle fa-2xs" style="color: red;"></i></span><br>
            <input type="password" id="old-pass" name="old-pass" placeholder="Enter old password" required>
                </label><br>
            <label for="new-pass">
                <span>New Password:<i class="fa-solid fa-sparkle fa-2xs" style="color: red;"></i></span><br>
                <input type="password" id="new-pass" name="new-pass" placeholder="Enter new password" required>
            </label><br>
            <label for="confirm-pass">
                <span>Confirm Password:<i class="fa-solid fa-sparkle fa-2xs" style="color: red;"></i></span><br>
                <input type="password" id="confirm-pass" name="confirm-pass" placeholder="Enter new password again" required>
            </label><br><br>
            {{if .Err}}
                <span style="color: red;">{{.Err}}</span><br>
            {{end}}
            {{if .Oke}}
                <span style="color: green;">{{.Oke}}</span><br>
            {{end}}
            <input type="submit" value="Change">
        </form>
        
    </div>    
    <div class="container1">
        {{template "Footer".}}
    </div>
</body>
</html>