<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style_h_f.css">
    <style>
        table  {
            margin: 20px auto;
        }
        th, td {
            text-align: center;
        }
        table, tr, th, td  {
            border: 1px solid black;
        }
        th, td {
            padding: 5px 10px;
        }
        a {
            text-decoration: none;
            color: red;
        }
        @media screen and (max-width:550px){
            th, td {
            padding: 5px;
        }
        }
    </style>
</head>
<body>
    <div class="container1">
        {{template "Header" .}}
    </div>

    <div class="container">
        <div class="back">
            <a href="/home">Back</a>
        </div>

        {{if .ListOrder}}
        <table>
            <tr>
                <th class="id">ID</th>
                <!-- <th class="accountID">AccountID</th> -->
                <th class="name">Name</th>
                <th class="phone">Phone</th>
                <th class="address">Address</th>
                <th class="s-address">Specific Address</th>
                <th class="date">Date</th>
                <th class="delivery">Delivery</th>
                <th class="payment">Payment</th>
            </tr>
            {{range $i, $e := .ListOrder}}
            <script>
                console.log("{{$e.Status.Id}}")
            </script>
            <tr>
                <td class="id">{{$e.Id}}</td>
                <!-- <td class="accountID">{{$e.CustomerID}}</td> -->
                <td class="name">{{$e.CustomerName}}</td>
                <td class="phone">{{$e.Phone}}</td>
                <td class="address">{{$e.Address}}</td>
                <td class="s-address">{{$e.Saddress}}</td>
                <td class="date">{{$e.Date}}</td>
                <td class="delivery">{{$e.Delivery.Name}}</td>
                <td class="payment">{{$e.Payment.Name}}</td>
                <td><a href="/detailCusOrder?id={{$e.Id}}&status={{$e.Status.Id}}#">Detail</a></td>
            </tr>
            {{end}}
        </table>
        {{else}}
            <h2>Empty.</h2>
        {{end}}

    </div>

    <script>
        var screenWidth = window.innerWidth;
        console.log(screenWidth)
        if (screenWidth < 860 ) {
            $(".accountID").remove()
            $(".s-address").remove()
            $(".date").remove()
        }

        if (screenWidth < 550) {
            $(".payment").remove()
            $(".delivery").remove()
            // $(".accountName").remove()
        }

    </script>

    <div class="container1">
        {{template "Footer" .}}
    </div>

</body>
</html>