{{define "Footer"}}


<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "163617143510805");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v18.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<div class="body-footer">
  <img src="../static/img/brand.png" alt="">
</div>
<div class="footer">
  <div class="logo">
    <div class="logo-footer">
      <img src="../static/img/logo-footer.png" alt="">
    </div>
    <div class="local">
      <p>This is Photoshop's version of Lorem Ipsum. <br> Proin gravida nibh velit it’s a cold world out <br> there.</p><br>
      <div><i class="fa-solid fa-location-dot fa-2xs" style="color: #f10e34;"></i><p>0123  Main Road, Your City, NY 123456</p></div><br>
      <div><i class="fa-solid fa-phone fa-2xs" style="color: #f10e34;"></i><p> (000) 2345 - 6789</p></div><br>
      <div><i class="fa-solid fa-envelope fa-2xs" style="color: #f10e34;"></i><p> info@psdfreebies.com</p></div>
    </div>
  </div>
  <div class="information">
    <h3>INFORMATION</h3>
    <p>Our Story</p>
    <p>Privacy & Policy</p>
    <p>Terms & Conditions</p>
    <p>Shipping & Delivery</p>
    <p>Careers</p>
    <p>FAQs</p>
  </div>
  <div class="social">
    <h3>OUR SOCIAL</h3>
    <div>
      <div>
        <div><i class="fa-brands fa-google fa-2xs" style="color: #f10e34;"></i><p>Google</p></div>
        <div><i class="fa-brands fa-pinterest fa-2xs" style="color: #f10e34;"></i><p>Pinterest</p></div>
        <div><i class="fa-brands fa-vimeo-v fa-2xs" style="color: #f10e34;"></i><p>Vimeo</p></div>
        <div><i class="fa-brands fa-instagram fa-2xs" style="color: #f10e34;"></i><p>Instagram</p></div>
      </div>
      <div>
        <div><i class="fa-brands fa-facebook-f fa-2xs" style="color: #f10e34;"></i><p>Facebook</p></div>
        <div><i class="fa-brands fa-twitter fa-2xs" style="color: #f10e34;"></i><p>Twitter</p></div>
        <div><i class="fa-solid fa-rss fa-2xs" style="color: #f10e34;"></i><p>RSS</p></div>
        <div><i class="fa-brands fa-youtube fa-2xs" style="color: #f10e34;"></i><p>Youtube</p></div>
      </div>
    </div>


  </div>
  <div class="time-payment">
    <div class="time">
      <h3>OPENING TIME</h3>
      <div><i class="fa-regular fa-clock fa-2xs" style="color: #f10e34;"></i><p>Monday - Friday: 08:30 am - 09:30 pm <br>
        Sat - Sun: 09:00 am - 10:00 pm</p></div>
    </div>
    <div class="payment">
      <h3>PAYMENT OPTION</h3>
      <div>
        <i class="fa-brands fa-cc-mastercard fa-2xl" style="color: #f10e34;"></i>
        <i class="fa-brands fa-cc-discover fa-2xl" style="color: #f10e34;"></i>
        <i class="fa-brands fa-cc-amex fa-2xl" style="color: #f10e34;"></i>
        <i class="fa-brands fa-cc-visa fa-2xl" style="color: #f10e34;"></i>
        <i class="fa-brands fa-cc-stripe fa-2xl" style="color: #f10e34;"></i>
        <i class="fa-brands fa-cc-diners-club fa-2xl" style="color: #f10e34;"></i>
        <i class="fa-brands fa-cc-jcb fa-2xl" style="color: #f10e34;"></i>
      </div>
    </div>
  </div>
</div>
<div class="last-footer">
  <div>
    <p>Sitemap</p>
    <p>Searchs</p>
    <p>Searchs</p>
    <p>Advance</p>
    <p>Searchs</p>
    <p>Contact Us</p>
  </div>
  <div>
    <p>
      © 2016  PSDFreebies.com  |   All Rights Reserved.
    </p>
  </div>
</div>
{{end}}