{{define "Header"}}
<div class="header">
      <div class="logo">
        <a href="/home">
          <img src="../static/img/Logo.png" alt="logo">
        </a>
      </div>
    <div class="info-search-cart">
        <div class="info">
            <a href="/loginSel">Seller</a>
            <p>&nbsp;</p>
            <a href="/informationBeta">My Account</a>
            <p></p>
            <a href="#">Wishlist</a>
            <p></p>
            <a href="/myOrder">My Orders</a>
            <p></p>
            <a href="#">Checkout</a>
            <p></p>
            <a href="/loginCus" id="a">LogIn</a>
            <p class="no"></p>
            <a href="#" class="no" onclick="deleteCookie('acc')">LogOut</a>
        </div>
          <script>
            const c = getCookie("acc");
            if (c != null) {
              a = c.split('/');
              document.getElementById('a').innerHTML = a[1];
              document.getElementById('a').href = "#"
              document.querySelectorAll('.no')[0].style = "display : block";
              document.querySelectorAll('.no')[1].style = "display : block";

            }else {
              document.querySelectorAll('.no')[0].style = "display : none";
              document.querySelectorAll('.no')[1].style = "display : none";
            }
            function getCookie(name) {
              const cookiePairs = document.cookie.split('; ');
              for (const pair of cookiePairs) {
                const [cookieName, cookieValue] = pair.split('=');
                if (cookieName === name) {
                  return decodeURIComponent(cookieValue);
                }
              }
              return null;
            }
            function deleteCookie(name) {
              const expiresDate = new Date(Date.now() - 10000);
              document.cookie = `${name}=; expires=${expiresDate.toUTCString()}; path=/`;
              location.reload();
            }
          </script>
        <div class="search-cart">
            <div class="search">
                <form action="/searchBeta" method="get">
                    <input type="text" placeholder="Search here..." name="key">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
                </form>
            </div>
            <div class="cart">
                <div><a href="/carts"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a></div>
                <div class="my-money">
                    <a href="#">TOTAL</a>
                    <a href="#">$600.00</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="categories">
    <div class="cate" id="toggleButton">
      <div class="menu">
        <div class="circle"></div>
        <div class="rectangle"></div>
      </div>
      <div>CATEGORIES</div>
    </div>
    <div class="menu-categories">
      {{range $i, $e := .ListCate}}
      {{if le $i 5}}
      <a href="/searchCate?id={{$e.IdCate}}">{{$e.NameCate}}</a>
      {{else}}
      {{end}}
      {{end}}
    </div>
    <div class="info-cate">
      {{range .ListCate}}
      <div><a href="/searchCate?id={{.IdCate}}">{{.NameCate}}</a></div>
      {{end}}
    </div>
  </div>
{{end}}
