<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style_admin.css">
</head>
<body>
    <div class="banner">
        <form action="/newFooterBanner" method="post">
            <label for="title">
                Title:<input type="text" id="title" name="title" required>
            </label><br>
            <label for="content">
                Content:<input type="text" id="content" name="content" required>
            </label>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>